trigger:
  branches:
    include:
      - main

pool:
  name: Project_Agent

variables:
  working-path: $(System.DefaultWorkingDirectory)/Prod


stages:
# ---------------- Stage 1: Terraform Init + Plan ----------------
- stage: TerraformInitPlan
  displayName: "Terraform Init & Plan"
  jobs:
    - job: TerraformInitPlanJob
      displayName: "Terraform Init & Plan Job"
      pool:
        name: Project_Agent
      steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          displayName: 'Terraform Init'
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(working-path)'
            backendServiceArm: 'WL_federation_identity'
            backendAzureRmResourceGroupName: 'rg_Tanu'
            backendAzureRmStorageAccountName: 'statefile123'
            backendAzureRmContainerName: 'statecontainer'
            backendAzureRmKey: 'prod.terraform.tfstate'

        - task: PowerShell@2
          continueOnError: true
          displayName: Infra Cost Estimation
          inputs:
            targetType: 'inline'
            script: |
              Invoke-WebRequest https://github.com/infracost/infracost/releases/latest/download/infracost-windows-amd64.tar.gz -OutFile infracost.tar.gz
              tar -xvf infracost.tar.gz
              .\infracost.exe --version
              .\infracost.exe auth login
              .\infracost.exe breakdown --path $(working-path) --format table
            

        - task: TerraformTask@5
          displayName: 'Terraform Plan'
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(working-path)'
            environmentServiceNameAzureRM: 'WL_federation_identity'

# ---------------- Stage 2: Security Scan (tfsec) ----------------
- stage: SecurityScan
  displayName: "Terraform Security Scan"
  jobs:
    - job: ScanningJob
      displayName: "Scanning Terraform Code"
      pool:
        name: Project_Agent
      steps:
        - task: tfsec@1
          inputs:
            version: 'v1.26.0'
            debug: true
            dir: '$(working-path)'

# ---------------- Stage 3: Manual Validation ----------------
- stage: ManualValidation
  displayName: "Manual Approval"
  jobs:
    - job: ManualValidationJob
      displayName: "Manual Validation"
      pool:
        name: server
      steps:
        - task: ManualValidation@1
          displayName: "Manual Validation"
          inputs:
            notifyUsers: 'tanupriyakumari20@gmail.com'
            approvers: 'tanupriyakumari20@gmail.com'
            instructions: 'Kindly Check & Approve'

# ---------------- Stage 4: Terraform Apply ----------------
- stage: TerraformApply
  displayName: "Terraform Apply"
  jobs:
    - job: TerraformApplyJob
      displayName: "Terraform Apply Job"
      pool:
        name: Project_Agent
      steps:
        - task: TerraformTask@5
          displayName: 'Terraform Init'
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(working-path)'
            backendServiceArm: 'WL_federation_identity'
            backendAzureRmResourceGroupName: 'rg_Tanu'
            backendAzureRmStorageAccountName: 'statefile123'
            backendAzureRmContainerName: 'statecontainer'
            backendAzureRmKey: 'prod.terraform.tfstate'

        - task: TerraformTask@5
          displayName: 'Terraform Apply'
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: '$(working-path)'
            commandOptions: '-auto-approve'
            environmentServiceNameAzureRM: 'WL_federation_identity'
